.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4C585B;
    color: #F4EDD3;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar h2 {
    font-size: 20px;
    margin: 0;
    white-space: nowrap;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color: #F4EDD3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
    margin-left: 60px;
}

.navbar ul li a:hover {
    color: #A5BFCC;
}

@media (max-width: 768px) {
    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
}

.logout-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .logout-btn:hover {
    background-color: #d32f2f;
  }
  
